Django==6.0.3
djangorestframework==3.17.1
psycopg2-binary==2.9.11
environs==15.0.0
gunicorn==25.3.0
djangorestframework-simplejwt==5.5.1
requests==2.33.1
pydantic==2.12.5
django-redis==6.0.0
twilio==9.10.4
boto3==1.42.83
types-boto3[s3]
